@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply w-9/12 mx-auto;
  }
}

body {
  box-shadow: 0 0 0 100vmax #f3f3f3;
  background-color: #f3f3f3;
}

#modal-add-portal {
  position: fixed;
}